// Bootstrap grid
$enable-flex:               true;
$enable-grid-classes:       false;
$grid-gutter-width: 10px;

//Base container
$padding-container: 40px;
$width-container:	1440px;


// Base color
$c-btn: #286782;
$c-nav: #2e2e2e;
$c-txt: #555559;
$c-inverse: #fff; 